/********** Template CSS **********/

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed !important;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Fonts ***/
.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/*** Light BG Color ***/
.bg-primary-light {
    background: rgba(185, 160, 252, .2);
}

.bg-secondary-light {
    background: rgba(252, 226, 160, .2);
}

.bg-dark-light {
    background: rgba(0, 0, 0, .1);
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.btn-primary:hover {
    background: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.btn-secondary:hover {
    background: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-light:hover {
    color: var(--bs-light);
    background: var(--bs-dark);
    border-color: var(--bs-dark);
}

.btn-dark:hover {
    color: var(--bs-dark);
    background: var(--bs-light);
    border-color: var(--bs-light);
}


/*** Top Bar ***/
.top-bar {
    height: 90px;
    padding: 0 90px;
}

.top-bar img {
    max-height: 50px;
}

@media (max-width: 991.98px) {
    .top-bar {
        padding: 0 30px;
    }
}


/*** Nav Bar ***/
.nav-bar {
    margin: 0 90px;
    border-radius: 50px;
    transition: .5s;
    z-index: 999;
}

@media (max-width: 991.98px) {
    .nav-bar {
        margin: 0 30px;
    }
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 20px 0;
    color: var(--bs-dark);
    font-size: 18px;
    outline: none;
}

.navbar .navbar-nav .nav-link:focus {
    color: var(--bs-dark);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--bs-light);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 20px;
        border-top: 1px solid var(--bs-light);
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Service ***/
.service-item .btn-square {
    width: 100px;
    height: 100px;
}


/*** Pricing ***/
.price .price-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, .05);
}


/*** Team ***/
.btn-social {
    display: flex;
    align-items: center;
    color: #6C6C6C;
    background: var(--bs-light);
    border-radius: 30px;
}


/*** Footer ***/
@media (min-width: 992px) {
    .footer::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        top: 0;
        left: 50%;
        background: rgba(255, 255, 255, .7);
    }
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #6C6C6C;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link:hover {
    color: var(--bs-dark);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--bs-dark);
    margin-right: 10px;
}

.copyright {
    border-top: 1px solid rgba(255, 255, 255, .7);
}

.copyright a {
    color: var(--bs-dark);
}

.copyright a:hover {
    color: var(--bs-primary);
}